/tarefa009/exercicio1/obj
/tarefa009/exercicio1/obj/debug
/tarefa009/exercicio1/bin
/tarefa009/exercicio1/bin/Debug
/tarefa009/exercicio1/bin/Debug/net6.0
/tarefa009/exercicio2/obj
/tarefa009/exercicio2/obj/debug
/tarefa009/exercicio2/bin
/tarefa009/exercicio2/bin/Debug
/tarefa009/exercicio2/bin/Debug/net6.0