tarefa009/.vs/
tarefa009/.vs/ProjectEvaluation/
tarefa009/.vs/Tarefa009/DesignTimeBuild/
tarefa009/.vs/FileContentIndex/
tarefa009/.vs/v17/
tarefa009/exercicio1/bin/
tarefa009/exercicio1/bin/Debug/
tarefa009/exercicio1/bin/Debug/net6.0
tarefa009/exercicio2/bin/
tarefa009/exercicio2/bin/Debug/
tarefa009/exercicio2/bin/Debug/net6.0