tarefa006/Questao_1/bin/
tarefa006/Questao_1/obj/

tarefa006/Questao_2/bin/
tarefa006/Questao_2/obj/

tarefa006/Questao_3/bin/
tarefa006/Questao_3/obj/

tarefa006/Questao_4/bin/
tarefa006/Questao_4/obj/

tarefa006/Questao_5/bin/
tarefa006/Questao_5/obj/

tarefa006/Questao_6/bin/
tarefa006/Questao_6/obj/

tarefa008/.vs/
tarefa008/endereco/bin/
tarefa008/endereco/obj/

tarefa009/.vs/

tarefa009/exercicio1/bin/
tarefa009/exercicio1/obj/

tarefa009/exercicio2/bin/
tarefa009/exercicio2/obj/

tarefa010/exercicio1/bin/
tarefa010/exercicio1/obj/

tarefa010/exercicio2/bin/
tarefa010/exercicio2/obj/

tarefa012/.vs/

tarefa012/exercicio1/bin/
tarefa012/exercicio1/obj/

tarefa012/exercicio2/bin/
tarefa012/exercicio2/obj/

tarefa012/exercicio3/bin/
tarefa012/exercicio3/obj/

tarefa012/exercicio4/bin/
tarefa012/exercicio4/obj/

tarefa015/.vs
tarefa015/bin/
tarefa015/obj/

tarefa016/.vs
tarefa016/Closure/bin
tarefa016/Closure/obj

tarefa016/Configuração de software em tempo de execução/bin
tarefa016/Configuração de software em tempo de execução/obj

tarefa016/Generics/bin
tarefa016/Generics/obj

tarefa016/Logging/bin
tarefa016/Logging/obj

tarefa019/.vs
tarefa019/Encapsulate_Field/bin
tarefa019/Encapsulate_Field/obj

tarefa019/Extract_Class/bin
tarefa019/Extract_Class/obj

tarefa019/Extract_Interface/bin
tarefa019/Extract_Interface/obj

tarefa019/Extract_Method/bin
tarefa019/Extract_Method/obj

tarefa019/Extract_Subclass/bin
tarefa019/Extract_Subclass/obj

tarefa019/Extract_Superclass/bin
tarefa019/Extract_Superclass/obj
*.sln
*.csproj
